.transparent {
  background-color: transparent;
}

.content-background {
  background-color: @theme_bg_color;
}

.tile {
  padding: 0px;
  border-radius: 8px;
  border: 1px solid @borders;
  color: @theme_fg_color;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  background: @theme_base_color;
}

.tile:hover {
  background-color: @theme_base_color;
}

.tile:backdrop {
  box-shadow: inset 0 1px 2px transparent;
}

.frame { border-radius: 8px } 


.turned-on {
 background-color: rgb(143,240,164);
}

.turned-off {
 background-color: rgb(246,97,81);
}

.person-home {
 background-color: rgb(153,193,241);
}

.person-not-home {
 background-color: rgb(249,240,107);
}

.cover-opened {
 background-color: rgb(143,240,164);
}

.cover-closed {
 background-color: rgb(246,97,81);
}

.unknown {
 background-color: rgb(192,191,188);
}
